In [31]:
import os
import zipfile
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
sns.set()

In [32]:
import sys

assert 'zipfile'in sys.modules
assert 'pandas'in sys.modules and pd
assert 'numpy'in sys.modules and np
assert 'matplotlib'in sys.modules and plt
assert 'seaborn'in sys.modules and sns

In [33]:
import ds100_utils
source_data_url = 'http://www.ds100.org/fa18/assets/datasets/hw2-SFBusinesses.zip'
target_file_name = 'data.zip'
data_dir = '.'

# Change the force=False -> force=True in case you need to force redownload the data
dest_path = ds100_utils.fetch_and_cache(data_url=source_data_url, data_dir=data_dir, file=target_file_name, force=False)

Downloading... Done!

In [34]:
# Fill in the list_files variable with a list of all the names of the files in the zip file
my_zip = ...
list_names = ...

### BEGIN SOLUTION
my_zip = zipfile.ZipFile(dest_path, 'r')
list_names = [f.filename for f in my_zip.filelist]
print(list_names)
### END SOLUTION

['violations.csv', 'businesses.csv', 'inspections.csv', 'legend.csv']

In [35]:
assert isinstance(my_zip, zipfile.ZipFile)
assert isinstance(list_names, list)
assert all([isinstance(file, str) for file in list_names]) 

### BEGIN HIDDEN TESTS
assert set(list_names) == set(['violations.csv', 'businesses.csv', 'inspections.csv', 'legend.csv'])
### END HIDDEN TESTS

In [36]:
### BEGIN SOLUTION
my_zip = zipfile.ZipFile(dest_path, 'r')
for file in my_zip.filelist:
    print('{}\t{}'.format(file.filename, file.file_size))
### END SOLUTION

violations.csv	3726206
businesses.csv	660231
inspections.csv	466106
legend.csv	120

In [37]:
from pathlib import Path
data_dir = Path('data')
my_zip.extractall(data_dir)

In [38]:
### BEGIN SOLUTION
data_dir = "./data/"
for f in list_names:
    print(ds100_utils.head(data_dir + f, 5), "\n")
### END SOLUTION

['"business_id","date","description"\n', '19,"20171211","Inadequate food safety knowledge or lack of certified food safety manager"\n', '19,"20171211","Unapproved or unmaintained equipment or utensils"\n', '19,"20160513","Unapproved or unmaintained equipment or utensils  [ date violation corrected: 12/11/2017 ]"\n', '19,"20160513","Unclean or degraded floors walls or ceilings  [ date violation corrected: 12/11/2017 ]"\n']

['"business_id","name","address","city","state","postal_code","latitude","longitude","phone_number"\n', '19,"NRGIZE LIFESTYLE CAFE","1200 VAN NESS AVE, 3RD FLOOR","San Francisco","CA","94109","37.786848","-122.421547","+14157763262"\n', '24,"OMNI S.F. HOTEL - 2ND FLOOR PANTRY","500 CALIFORNIA ST, 2ND  FLOOR","San Francisco","CA","94104","37.792888","-122.403135","+14156779494"\n', '31,"NORMAN\'S ICE CREAM AND FREEZES","2801 LEAVENWORTH ST ","San Francisco","CA","94133","37.807155","-122.419004",""\n', '45,"CHARLIE\'S DELI CAFE","3202 FOLSOM ST ","San Francisco","CA","94110","37.747114","-122.413641","+14156415051"\n']

['"business_id","score","date","type"\n', '19,"94","20160513","routine"\n', '19,"94","20171211","routine"\n', '24,"98","20171101","routine"\n', '24,"98","20161005","routine"\n']

['"Minimum_Score","Maximum_Score","Description"\n', '0,70,"Poor"\n', '71,85,"Needs Improvement"\n', '86,90,"Adequate"\n', '91,100,"Good"\n']

In [39]:
# path to directory containing data
dsDir = Path('data')

# Make sure to use these names
bus = ...
ins = ...
vio = ...


### BEGIN SOLUTION
bus = pd.read_csv(dsDir/'businesses.csv', encoding='ISO-8859-1')
ins = pd.read_csv(dsDir/'inspections.csv')
vio = pd.read_csv(dsDir/'violations.csv')
### END SOLUTION

In [40]:
### BEGIN SOLUTION
bus.head()
### END SOLUTION

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number
0,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,+14157763262
1,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,+14156779494
2,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004,NaN
3,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,San Francisco,CA,94110,37.747114,-122.413641,+14156415051
4,48,ART'S CAFE,747 IRVING ST,San Francisco,CA,94122,37.764013,-122.465749,+14156657440

In [41]:
### BEGIN SOLUTION
bus.describe()
### END SOLUTION

        business_id     latitude    longitude
count   6406.000000  3270.000000  3270.000000
mean   53058.248049    37.773662  -122.425791
std    34928.238762     0.022910     0.027762
min       19.000000    37.668824  -122.510896
25%     7405.500000    37.760487  -122.436844
50%    68294.500000    37.780435  -122.418855
75%    83446.500000    37.789951  -122.406609
max    94574.000000    37.824494  -122.368257

In [42]:
assert all(bus.columns == ['business_id', 'name', 'address', 'city', 'state', 'postal_code',
                           'latitude', 'longitude', 'phone_number'])
assert 6400 <= len(bus) <= 6420

assert all(ins.columns == ['business_id', 'score', 'date', 'type'])
assert 14210 <= len(ins) <= 14250

assert all(vio.columns == ['business_id', 'date', 'description'])
assert 39020 <= len(vio) <= 39080

In [43]:
bus_summary = pd.DataFrame(**{'columns': ['business_id', 'latitude', 'longitude'],
 'data': {'business_id': {'50%': 68294.5, 'max': 94574.0, 'min': 19.0},
  'latitude': {'50%': 37.780435, 'max': 37.824494, 'min': 37.668824},
  'longitude': {'50%': -122.41885450000001,
   'max': -122.368257,
   'min': -122.510896}},
 'index': ['min', '50%', 'max']})

ins_summary = pd.DataFrame(**{'columns': ['business_id', 'score'],
 'data': {'business_id': {'50%': 61462.0, 'max': 94231.0, 'min': 19.0},
  'score': {'50%': 92.0, 'max': 100.0, 'min': 48.0}},
 'index': ['min', '50%', 'max']})

vio_summary = pd.DataFrame(**{'columns': ['business_id'],
 'data': {'business_id': {'50%': 62060.0, 'max': 94231.0, 'min': 19.0}},
 'index': ['min', '50%', 'max']})

from IPython.display import display

print('What we expect from your Businesses dataframe:')
display(bus_summary)
print('What we expect from your Inspections dataframe:')
display(ins_summary)
print('What we expect from your Violations dataframe:')
display(vio_summary)

What we expect from your Businesses dataframe:

     business_id   latitude   longitude
min         19.0  37.668824 -122.510896
50%      68294.5  37.780435 -122.418855
max      94574.0  37.824494 -122.368257

What we expect from your Inspections dataframe:

     business_id  score
min         19.0   48.0
50%      61462.0   92.0
max      94231.0  100.0

What we expect from your Violations dataframe:

     business_id
min         19.0
50%      62060.0
max      94231.0

In [44]:
### BEGIN HIDDEN TESTS
"""This is an internal use utility, put in a testing cell so instructors can use it here 
without it showing up in the student version.
"""

def df_summ(df, cols):
    """Return a summary of a dataframe in dict form suitable for input.
    """
    stats = ['min', '50%', 'max']
    return dict(data = df[cols].describe().loc[stats].to_dict(),
                index = stats, columns=cols)
### END HIDDEN TESTS

In [45]:
"""Run this cell to load this utility comparison function that we will use in various
tests below (both tests you can see and those we run internally for grading).

Do not modify the function in any way.
"""

def df_allclose(actual, desired, columns=None, rtol=5e-2):
    """Compare selected columns of two dataframes on a few summary statistics.
    
    Compute the min, median and max of the two dataframes on the given columns, and compare
    that they match numerically to the given relative tolerance.
    
    If they don't match, an AssertionError is raised (by `numpy.testing`).
    """
    import numpy.testing as npt
    
    # summary statistics to compare on
    stats = ['min', '50%', 'max']
    
    # For the desired values, we can provide a full DF with the same structure as
    # the actual data, or pre-computed summary statistics.
    # We assume a pre-computed summary was provided if columns is None. In that case, 
    # `desired` *must* have the same structure as the actual's summary
    if columns is None:
        des = desired
        columns = desired.columns
    else:
        des = desired[columns].describe().loc[stats]

    # Extract summary stats from actual DF
    act = actual[columns].describe().loc[stats]

    npt.assert_allclose(act, des, rtol)

In [46]:
# These tests will raise an exception if your variables don't match numerically the correct
# answers in the main summary statistics shown above.
df_allclose(bus, bus_summary)
df_allclose(ins, ins_summary)
df_allclose(vio, vio_summary)

In [47]:
### BEGIN HIDDEN TESTS
bus_sol = pd.read_csv(dsDir/'businesses.csv', encoding='ISO-8859-1')
ins_sol = pd.read_csv(dsDir/'inspections.csv')
vio_sol = pd.read_csv(dsDir/'violations.csv')


df_allclose(bus, bus_sol, ['business_id', 'latitude', 'longitude'])
df_allclose(ins, ins_sol, ['business_id', 'score'])
df_allclose(vio, vio_sol, ['business_id'])

# Let' disable these, too restrictive
#bus.equals(bus_sol)
#ins.equals(ins_sol)
#vio.equals(vio)
### END HIDDEN TESTS

In [48]:
### BEGIN SOLUTION
q1e_answer = r"""

There appears to be a missing phone number for NORMAN'S ICE CREAM AND FREEZES.

"""
### END SOLUTION

print(q1e_answer)

There appears to be a missing phone number for NORMAN'S ICE CREAM AND FREEZES.

In [49]:
### BEGIN SOLUTION
is_business_id_unique = bus['business_id'].value_counts().max() == 1
### END SOLUTION

In [50]:
assert is_business_id_unique

In [51]:
# use this cell for scratch work
# consider using groupby or value_counts() on the 'name' or 'business_id' 
...


### BEGIN SOLUTION
print("Number of records:", len(bus))
print("Number of unique business ids:", len(bus['business_id'].unique()))
print("Most frequently occuring business names:", bus['name'].value_counts().idxmax())
print("A few samples of the business with most frequent name ----------")
bus[bus['name'] == bus['name'].value_counts().idxmax()].head(7)
### END SOLUTION

Number of records: 6406
Number of unique business ids: 6406
Most frequently occuring business names: STARBUCKS COFFEE
A few samples of the business with most frequent name ----------

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number
9,66,STARBUCKS COFFEE,1800 IRVING ST,San Francisco,CA,94122,37.763578,-122.477461,+14152427970
236,1085,STARBUCKS COFFEE,333 MARKET ST,San Francisco,CA,94105,37.792037,-122.397852,+14152410256
238,1103,STARBUCKS COFFEE,4094 18TH ST,San Francisco,CA,94114,37.760938,-122.434692,+14152410256
240,1116,STARBUCKS COFFEE,1899 UNION ST,San Francisco,CA,94123,37.797713,-122.430336,+14159214049
241,1122,STARBUCKS COFFEE,2132 CHESTNUT ST,San Francisco,CA,94123,37.800547,-122.438494,+14156736781
244,1127,STARBUCKS COFFEE,555 CALIFORNIA ST,San Francisco,CA,94104,37.792773,-122.403567,+14159551940
272,1265,STARBUCKS COFFEE,744 IRVING ST,San Francisco,CA,94122,37.764088,-122.465981,+14158540888

In [52]:
### BEGIN SOLUTION
q2b_answer = r"""

There are 6406 rows in `bus`, and each row has a unique `business_id` that 
serves as a primary key. This implies that each row represents a single business. 
If we then groupby name we see that there are many rows/records with the same name 
at different locations indicating that each record represents a store.

"""
### END SOLUTION

print(q2b_answer)

There are 6406 rows in `bus`, and each row has a unique `business_id` that
serves as a primary key. This implies that each row represents a single business.
If we then groupby name we see that there are many rows/records with the same name
at different locations indicating that each record represents a store.

In [53]:
### BEGIN SOLUTION
q3a_answer = r"""

The zip codes are largely nominal fields with little meaning to differences or ratios.  
While in some regions of the country similar numbers correspond to similar locations 
this is not a strict guarantee.

The zip codes are currently stored as strings.

"""
### END SOLUTION

print(q3a_answer)

The zip codes are largely nominal fields with little meaning to differences or ratios.
While in some regions of the country similar numbers correspond to similar locations
this is not a strict guarantee.

The zip codes are currently stored as strings.

In [54]:
zip_counts = bus.groupby("postal_code").size().sort_values(ascending = False)
zip_counts.head()

postal_code
94110    596
94103    552
94102    462
94107    460
94133    426
dtype: int64

In [55]:
bus["postal_code"].value_counts(dropna=False).sort_values(ascending = False).head(15)

94110    596
94103    552
94102    462
94107    460
94133    426
94109    380
94111    277
94122    273
94118    249
94115    243
NaN      240
94105    232
94108    228
94114    223
94117    204
Name: postal_code, dtype: int64

In [56]:
bus["postal_code_5"] = bus["postal_code"].str[:5]
bus.head(10)

,business_id,name,address,city,state,postal_code,latitude,longitude,phone_number,postal_code_5
0,19,NRGIZE LIFESTYLE CAFE,"1200 VAN NESS AVE, 3RD FLOOR",San Francisco,CA,94109,37.786848,-122.421547,+14157763262,94109
1,24,OMNI S.F. HOTEL - 2ND FLOOR PANTRY,"500 CALIFORNIA ST, 2ND FLOOR",San Francisco,CA,94104,37.792888,-122.403135,+14156779494,94104
2,31,NORMAN'S ICE CREAM AND FREEZES,2801 LEAVENWORTH ST,San Francisco,CA,94133,37.807155,-122.419004,NaN,94133
3,45,CHARLIE'S DELI CAFE,3202 FOLSOM ST,San Francisco,CA,94110,37.747114,-122.413641,+14156415051,94110
4,48,ART'S CAFE,747 IRVING ST,San Francisco,CA,94122,37.764013,-122.465749,+14156657440,94122
5,54,RHODA GOLDMAN PLAZA,2180 POST ST,San Francisco,CA,94115,37.784626,-122.437734,+14153455060,94115
6,56,CAFE X + O,1799 CHURCH ST,San Francisco,CA,94131,37.742325,-122.426476,+14158263535,94131
7,58,OASIS GRILL,91 DRUMM ST,San Francisco,CA,94111,37.794483,-122.396584,+14158341942,94111
8,61,CHOWDERS,PIER 39 SPACE A3,San Francisco,CA,94133,37.808240,-122.410189,+14153914737,94133
9,66,STARBUCKS COFFEE,1800 IRVING ST,San Francisco,CA,94122,37.763578,-122.477461,+14152427970,94122